
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header,
.footer {
  border-bottom: 1px solid black;
  width: 100%;
  height: 15vh;
  background-color: rgb(186, 186, 186);
  margin-bottom: 3%;
}

.header h1 {
  text-align: center;
  margin: 0;
  padding-top: 2%;
}

.user-container,
.show-header,
.posts-header {
  display: flex;
  justify-content: center;
  gap: 5%;
}

img {
  width: 17%;
  height: 28vh;
  padding-bottom: 3%;
}

.user-container div,
.show-header div,
.posts-header div,
.all-posts {
  width: 50%;
  height: 100%;
  border: 2px solid gray;
  padding: 2%;
}

.user-container h4 {
  text-align: right;
  font-size: 1.2em;
}

.show-user-container,
.posts-container,
.all-posts-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.show-header {
  width: 100%;
  height: auto;
  font-size: 1.5em;
}

.show-header h4,
.posts-header h4,
.all-posts div,
.single-post div {
  text-align: right;
}

.bio,
.show-posts,
.all-posts,
.post-comments,
.single-post {
  width: 74%;
  height: auto;
  padding: 1%;
  border: 2px solid gray;
  margin-left: 12%;
  margin-bottom: 2%;
  font-size: 1.5em;
}

.posts-header div {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: black;
}

.all-posts a {
  color: blue;
}

.comments-header {
  text-align: center;
}

.show-posts div {
  text-align: right;
}

button {
  width: 10%;
  height: 5vh;
  margin-bottom: 2%;
  margin-left: 40%;
  font-size: 1.3em;
}

form {
  border: 1px solid gray;
  width: 15%;
  margin-left: 35%;
  margin-bottom: 2%;
  padding: 2%;
}

input,
textarea {
  padding: 1%;
  margin-bottom: 1%;
}

.form-header {
  text-align: center;
  font-size: 3em;
  margin-right: 5%;
}

.signup,
.forget-pw {
  margin: 0 0 0 30%;
  font-size: 1.2em;
}

.login-form {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: none;
}

.field {
  width: 80%;
}

.actions {
  width: 10%;
  margin: -2% 5% 0 0;
}

.actions input {
  width: 100%;
  height: 3vh;
}

#user_email,
#user_password {
  width: 50%;
}

.footer {
  height: 10vh;
  margin-bottom: 0;
  border-top: 1px solid black;
  color: black;
  text-align: right;
  font-size: 1.2em;
}
